.navbar{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: 5px solid black ;
}
.sajatoldal{
    color: white;
    text-decoration: underline;
    font-size: 20px;
    position:relative;
}
.masoldal{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position:relative;
}
.hatter{
    background-color: white;
}
.navbar div{
    margin-left:auto;
    margin-right: auto;

}